body {
    background-image: url(/bb-background.png);
}

nav {
    display: flex;
    width: 100%;
    list-style: none;
}

li{
    width: 100%;
    margin: 0 0 0 250px;
    list-style: none;
}

.navigation li {
    list-style: none;
    display: inline;
}

.navigation li a {
    text-decoration: none;
}